.wrapper
{
  width: 100%;
  height: 100%;
  background: url("../ima/423208.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.wrapper nav
{
  background-color:#000000;
  opacity:0.5;
  -moz-opacity:0.6;

}
.content
{
  background-color:#000000;
  opacity:0.5;
  -moz-opacity:0.4;
  text-align: center;
  margin: 0 auto;
}
.content .container
{
  width: 50%;
  margin: 0 auto;
}
.content .title
{
  width: 60%;
  margin: 17px 0;
  font-size: 30px;
  float: left;
}
.content .title input
{
  width: 100%;
}
.content .title-area h1
{
  letter-spacing: 2px;
  text-align: left;
  color: white;
}
.content .article-area textarea
{
  font-size: 18px;
  letter-spacing: 2px;
}

.content .checkbox-area
{
  color: white;
  margin-top: 20px;
}

.content .checkbox-area h2
{
    margin-left: 20px;
   text-align: left;
   letter-spacing: 1px;
}
.content .checkbox-area  input
{
  text-align: left;
  margin: 10px;
  width: 16px;
  height: 16px;
}
.content .checkbox-area  label
{
  font-size: 20px;
  letter-spacing: 1px;
}
.content .button-area input
{
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
