
.FE , .PHP , .JAVA , .Unity
{
  content: "";
  display: block;
  clear: both;
}
.FE h1
{

  color: white;
  font-size: 40px;
  text-align: center;
  margin-top:10px;
  letter-spacing: 10px;
}
h2
{
  color: white;
  font-size: 26px;
}

.FE
{
  height: 850px;
  background: #1b192f;
}

.FE .article-title-FE
{
  position: relative;
  float: left;;
  width: 34%;
  height: 90%;
  padding-left: 30px;
}
.FE .article-title-FE h2
{
  text-align: center;

}
.FE .article-title-FE ul
{
  list-style: none;
}
.FE .article-title-FE a
{
  font-size: 20px;
  color: white;
  line-height: 2em;
}
.FE .container
{
  width: 60%;
  height: 90%;
  border-left: 1px solid #ff2462;
  float: right;
  padding-right: 30px;
}

.FE .container .CSS3
{

  width: 100%;
  height: 30%;
}

.FE .container .CSS3 .ima-CSS3
{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;
}

.FE .container .CSS3 .ima-CSS3 img
{
  width: 100%;
  height: 100%;
}
.FE .container .CSS3 .text-CSS3
{
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 30px;
  width: 50%;
  height: 26%;
}
.FE .container .CSS3 .text-CSS3 p
{
  color: white;
  letter-spacing: 1px;
  line-height: 1.5em;
}


.FE .container .HTML5
{
  padding-top: 30px;
  width: 100%;
  height: 30%;
}
.FE .container .HTML5 .ima-HTML5
{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;

}
.FE .container .HTML5 .text-HTML5
{
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 30px;
  width: 50%;
  height: 26%;
}
.FE .container .HTML5 .text-HTML5 p
{
  color: white;
  line-height: 1.5em;
}
.FE .container .HTML5 .ima-HTML5 img
{
  width: 100%;
  height: 100%;
}








.FE .container .javascript
{
 padding-top: 30px;
  width: 100%;
  height: 30%;
}
.FE .container .javascript .ima-javascript
{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;
}
.FE .container .javascript .text-javascript
{
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 30px;
  width: 50%;
  height: 26%;
}
.FE .container .javascript .text-javascript p
{
  color: white;
  line-height: 1.5em;
}
.FE .container .javascript .ima-javascript img
{
  width: 100%;
  height: 100%;
}







.PHP
{
  height: 400px;
  background: #25273f;

}
.PHP .ima-PHP
{
  width: 25%;
  height: 80%;
  float: left;
}

.PHP .text-PHP
{
  margin-top: 46px;
  position: relative;;
  height: 80%;
  width: 35%;
  float: left;;
  border-right: 1px solid #ff7266;
  padding-right:20px;

}

.PHP  .text-PHP h2
{

  font-size: 30px;
  color: white;
  margin-left: 40px;
}

.PHP  .text-PHP p
{
  margin-left: 42px;
  color: white;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.PHP  .ima-PHP img
{
  margin: 30px;
  height: 100%;
  width: 100%;
}

.article-title-PHP
{
  position: relative;
  float: right;
  width: 34%;
  height: 90%;
  margin-top: 20px;
}
.article-title-PHP h2
{
  text-align: center;
  border-bottom: 10px;
}
.article-title-PHP ul
{
  list-style: none;
}
.article-title-PHP a
{
  font-size: 20px;
  color: white;
  line-height: 2em;
}


.JAVA
{
  height: 400px;
  background: #2c2f4f;
}

.JAVA .ima-JAVA
{
  margin: 40px;
  width: 25%;
  height: 80%;
  float: right;
}

.JAVA .text-JAVA
{

  position: relative;
  height: 80%;
  width: 35%;
  margin-top: 30px;
  float: right;
  margin-left: 60px;
  border-left: 1px solid #fea463;
}

.JAVA  .text-JAVA h2
{
  margin-top: 40px;
  font-size: 30px;
  color: white;
  margin-left: 20px;
}

.JAVA  .text-JAVA p
{
  color: white;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-left: 20px;

}

.JAVA  .ima-JAVA img
{

  height: 100%;
  width: 100%;
}

.article-title-JAVA
{
  position: relative;
  float: left;
  width: 30%;
  height: 90%;
  margin-top: 20px;
}
.article-title-JAVA h2
{
  text-align: center;
  border-bottom: 10px;
}
.article-title-JAVA ul
{
  padding-left: 20px;
  list-style: none;
}
.article-title-JAVA a
{
  font-size: 20px;
  color: white;
  line-height: 2em;
}




.Unity
{
  height: 400px;
  background: #393c58;

}
.Unity .ima-Unity
{
  width: 25%;
  height: 80%;
  float: left;
}

.Unity .text-Unity
{
  position: relative;
    margin-top: 40px;
  height: 80%;
  width: 35%;
  margin-left: 20px;
  float: left;
  border-right: 1px solid#ffe399;
  padding-right: 20px;

}

.Unity  .text-Unity h2
{
  margin-top: 20px;
  font-size: 30px;
  color: white;
  margin-left: 60px;
}

.Unity .text-Unity p
{
  margin-left: 60px;
  color: white;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.Unity  .ima-Unity img
{
  margin: 40px;
  height: 100%;
  width: 100%;
}

.article-title-Unity
{
  position: relative;
  float: right;
  width: 34%;
  height: 90%;
  margin-top: 20px;
}
.article-title-Unity h2
{
  text-align: center;
  border-bottom: 10px;
}
.article-title-Unity ul
{
  list-style: none;
}
.article-title-Unity a
{
  font-size: 22px;
  color: white;
  line-height: 2em;
}
