.main-wrapper
{
  width: 100%;
  height: 500px;
  background: url("../ima/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


nav
{
  height: 50px;
 background: transparent;

}

nav .logo
{
  margin-left: 20px;
  line-height: 50px;
  display: inline-block;
  float: left;
  font-weight: bold;

}

nav .logo a
{
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
}

nav ul
{

  height: 50px;
  float: right;
  padding-right:20px;

}

nav ul li
{
   display: inline-block;
   margin: 2px;
}

nav ul li a
{
  line-height: 50px;
  font-size: 16px;
  color: white;
}

nav ul li a:hover
{
  color: #ffe322;
}

#banner
{
  background: transparent;
}

 #banner .inner
 {
   height: 340px;
   padding-top: 90px;
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
 }

 #banner .inner h1
 {
   padding-top: 20px;
   letter-spacing: 2px;
   font-size: 45px;

 }

 #banner .inner p
 {
   letter-spacing: 1px;
   font-size: 20px;
 }


#banner .form-wrapper
{
  width:450px;
  height: 38px;
  padding:12px;
  background: #444;
  background:rgba(0,0,0,.2);
  border-radius:10px;
  box-shadow:0 1px 1px rgba(0,0,0,.4)inset,0 1px 0 rgba(255,255,255,.2);
  margin:0 auto;
  margin-top: 140px;
}

.form-wrapper input
{
  width:330px;
  height:20px;
  padding:10px 5px;
  float:left;
  font:bold 60px 'lucida sans','trebuchet MS'，'Tahoma';
  border:0;
  background:#eee;
  border-radius:3px 0 0 3px;
  font-size: 20px;
}

.form-wrapper input:focus
{
  outline: 0;
  background: #fff;
  box-shadow:0 0 2px rgba(0,0,0,.8)inset;
}


.form-wrapper button
{
  overflow:visible;
  position:relative;
  float:right;
  border:0;
  padding:0;
  cursor:pointer;
  height:40px;
  width:110px;
  font:bold 15px/40px 'lucida sans', 'trebuchet MS','Tahoma';
  color: #fff;
  text-transform:uppercase;
  background:#d83c3c;
  border-radius:0 3px 3px 0;
  text-shadow:0 -1px 0 rgba(0, 0 ,0,.3);
  font-size: 18px;
}

.form-wrapper button:hover
{
background:#e54040;
}

.form-wrapper button:before
{ /* left arrow */
 content:'';
 position:absolute;
 border-width:8px 8px 8px 0;
 border-style:solid solid solid none;
 border-color: transparent #d83c3c transparent;
 top:12px;
 left:-8px;
}

.form-wrapper button:hover:before
{

border-right-color:#e54040;

}
